$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #333;
$body-bg: #fff;
$border-radius: .4rem;
$success: #7952b3;

$orange-dark: #eb4826;
$orange-light: #ed6f2e;
$black-gray: #454545;
$black-gray-dark: #222222;

$orange-dark-opactity: rgba(237, 111, 46, .8);

// WHITE AND GRAY COLORS
$white:    #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$primary: $orange-light;
$secondary: $black-gray;

//IMPORT COMPONENTS
@import "components/buttons";
@import "components/mixins";

//IMPORT SECTIONS
@import "sections/navbar";
@import "sections/intro-section";
@import "sections/call-action";
@import "sections/about";
@import "sections/map";
@import "sections/footer";

@import "bootstrap/scss/functions"; // Required
@import "bootstrap/scss/variables"; // Required
@import "bootstrap/scss/mixins"; // Required

@import "bootstrap/scss/root"; // Required
@import "bootstrap/scss/reboot"; // Required
@import "bootstrap/scss/type";
// @import "bootstrap/scss/images";
// @import "bootstrap/scss/code";
@import "bootstrap/scss/grid";
 @import "bootstrap/scss/tables";
 @import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
 @import "bootstrap/scss/dropdown";
 @import "bootstrap/scss/button-group";
 @import "bootstrap/scss/input-group"; // Requires forms
// @import "bootstrap/scss/custom-forms";
 @import "bootstrap/scss/nav";
 //@import "bootstrap/scss/navbar"; // Requires nav
 @import "bootstrap/scss/card";
// @import "bootstrap/scss/breadcrumb";
 @import "bootstrap/scss/pagination";
// @import "bootstrap/scss/badge";
// @import "bootstrap/scss/jumbotron";
// @import "bootstrap/scss/alert";
// @import "bootstrap/scss/progress";
 @import "bootstrap/scss/media";
// @import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
// @import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
// @import "bootstrap/scss/spinners";
@import "bootstrap/scss/utilities";
// @import "bootstrap/scss/print";

// Style Bootstrap icons
.bi {
  fill: currentColor;
}
